<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.agonbar.homecontrol"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Control Example</name>

  <description>
      An example for home control
  </description>

  <author href="http://adriangonzalezbarbosa.eu" email="adrian.gonzalez.barbosa@gmail.com">
      Adrian Gonzalez Barbosa
  </author>

</widget>
